<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title if title else "Up Digital" }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/public/css/master.css" />
    <script src="/public/scripts/bundle.js" defer></script>
  </head>
  <body>
    <div>{% block header %} {% endblock %}</div>
    <div>{% block body %} {% endblock %}</div>
    <div>{% block footer %} {% endblock %}</div>
  </body>
</html>
