{% extends "base.html" %}
<div>
  {% block body %}
  <main id="lock">
    <form>
      <h1 data-string="lockTitle">{{ lockTitle }}</h1>
      <span data-string="unlockRequest"></span>
      <input
        type="text"
        data-placeholder="registerPlaceholder"
        placeholder="{{ registerPlaceholder }}"
      />
      <input type="password" data-placeholder="password" placeholder="{{password}}" />
      <label id="cb">
        <input type="checkbox" />
        <span data-string="keepUnlocked"> {{ keepUnlocked }}</span>
      </label>
      <button data-string="unlock">{{ unlock }}</button>
    </form>
  </main>
  {% endblock %}
</div>
