{% extends "base.html" %}
<div>
  {% block body %}
  <main id="lock">
    <form>
      <h1>Aparelho bloqueado</h1>
      <span>Realize o desbloqueio da máquina ao inserir as informações abaixo</span>
      <input type="text" placeholder="Matrícula do coordenador" />
      <input type="password" placeholder="Senha" />
      <label id="cb">
        <input type="checkbox" />
        <span>Manter desbloqueado</span>
      </label>
      <button>Desbloquear</button>
    </form>
  </main>
  {% endblock %}
</div>
