{% extends "base.html" %}
<div>
  {% block body %}
  <main id="register-employee">
    <form>
      <h1 data-string="titleRegister">{{"titleRegister"}}</h1>
      <span data-string="registerMessenger"></span>

      <input type="text" data-placeholder="registerEmail" placeholder="{{ strings.registerEmail}}" />
      <input type="password" data-placeholder="password" placeholder="{{strings.password}}" />
      <input type="username" data-placeholder="username" placeholder="{{ strings.username}}" />
      <input type="text" data-placeholder="numberEmployee" placeholder="{{ strings.numberEmployee }}" />
      <input type="file" accept=".png, .jpg, .jpeg, .JPG" class="dNone" />
    </form>
  </main>
  {% endblock %}
</div>
