:root {
  --upPurple: #8c3f96;
  --upPurpleRGB: rgb(140, 63, 150);
  --upPurpleVariant: #4e0c58;
  --upPurpleVariantRGB: rgb(143, 67, 154);
  --colorOnPurple: #fefefe;

  --primary: #fefefe;
  --primaryDark: #e2e0e5;
  --link: #102ec4;
  --text: #1f1f1f;
  --title: #202020;
  --placeholder: #484848;
  --danger: #f76c6c;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Poppins', sans-serif;
  color: var(--text);
  border: none;
  user-select: none;
}

body {
  background: transparent;
  font-size: 14px;
  background: var(--primaryDark);
  transition: 0.4s ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  color: var(--title);
}

input {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  width: 95%;
  margin: 0 0 1rem 0;
  background: var(--primaryDark);
  border: 2px solid transparent;
  font-weight: bold;
}

input::placeholder {
  color: var(--placeholder);
  font-weight: 400;
}

input:focus {
  border: 2px solid var(--upPurple);
}

button {
  background: transparent;
  cursor: pointer;
}

#lock {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, var(--upPurple), var(--upPurpleVariant));
}

#lock form {
  width: 90%;
  max-width: 520px;
  background: var(--primary);
  padding: 3rem 1rem;
  text-align: center;
  border-radius: 8px;
  box-shadow: 1px 1px 8px var(--title);
}

#lock h1 {
  margin-bottom: 0.5rem;
}

#lock input:first-of-type {
  margin-top: 0.5rem;
}

#lock button {
  width: 95%;
  background: var(--upPurple);
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  color: var(--colorOnPurple);
  border-radius: 8px;
  margin-top: 1rem;
}

#lock form button:hover {
  background: var(--upPurpleVariant);
}

#lock #cb {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

#lock #cb input {
  width: auto;
  margin: 0;
}

.inputError {
  border-color: var(--danger) !important;
}
